.news {
}

.kboard-list-header,
.kboard-list-vote,
.kboard-list-view {
	display: none !important;
}

#kboard-default-list {
	/* 게시판 배경 */
	.kboard-category .kboard-category-list,
	.kboard-list,
	.kboard-list tbody tr.kboard-list-notice {
		background-color: transparent;
	}

	/* 게시판 상단 카테고리 */
	.kboard-category .kboard-category-list li {
		padding: 0;

		&.kboard-category-selected a {
			border-bottom: none;
			color: $slamMid;
		}

		a {
			display: block;
			font-size: 1.5rem;
			font-weight: 700;
			padding: 10px 10px 8px 0px;
			margin-right: 70px;
			border-bottom: none;
			color: #fff;
			@mixin atSmall {
				font-size: 1.2rem;
			}
		}
	}

	/* 게시판 글 목록 */
	.kboard-list {
		table td {
			text-align: left;
			padding: 14px 0;
		}

		table td.kboard-list {
			&-uid {
				width: 120px;
			}

			&-user {
				width: 120px;
			}

			&-date {
				width: 80px;
			}
		}

		thead tr td {
			color: #fff;
			font-size: 1.5rem;
			@mixin atSmall {
				font-size: 1.2rem;
			}
		}

		tbody {
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}

		/* 게시판 글 공지사항 */
		tbody tr.kboard-list-notice .kboard-list {
			&-uid,
			&-title > a {
				color: $slamMid;
				font-weight: 700;
			}
		}

		table a {
			color: #fff;
			font-size: 1.5rem;
			@mixin atSmall {
				font-size: 1.2rem;
			}
		}

		tbody tr:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
		tbody tr td {
			border-bottom: 0px solid #f1f1f1;
		}

		.kboard-mobile-contents {
			color: #fff;
		}

		.kboard-default-new-notify {
			display: none;
		}
	}

	/* 게시판 페지이네이션 */
	.kboard-pagination {
		margin-top: 10px;
	}

	/* 게시판 검색 */
	.kboard-search {
		margin-top: 70px;
		form {
			display: flex;
			justify-content: center;
		}

		select {
			font-size: 1.5rem;
			color: #fff;
			border: 2px solid #fff;
			background: none;
			background-color: transparent;
			vertical-align: middle;
			@media screen and (max-width: 600px) {
				margin-right: 0;
			}

			option {
				background: $slamDark;
				color: #fff;
				border: 1px solid #fff;
			}
		}

		input {
			font-size: 1.5rem;
			color: #fff;
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
			border-left: none;
			border-right: none;
			background: none;
			background-color: transparent;
			@media screen and (max-width: 600px) {
				margin-right: 0;
			}
		}

		button.kboard-default-button-small {
			font-size: 1.5rem;
			height: 26px;
			line-height: 26px;
			color: #fff !important;
			background: none !important;
			border: 2px solid #fff;
			@media screen and (max-width: 600px) {
				line-height: 4px;
				height: 28px;
			}
		}
	}
}

/* 글쓰기 */
#kboard-default-editor .attr-value {
	color: #545861;
}

/* 글읽기 */
#kboard-default-document {
	/* 글읽기 배경 */
	.kboard-document-wrap {
		background-color: transparent;
	}

	/* 글읽기 제목 */
	.kboard-title {
		border-top: 0px solid #fff;
		border-bottom: 0px solid #f1f1f1;
		h1 {
			color: #fff;
			padding: 12px 0;
		}
	}
	/* 글읽기 정보 */
	.kboard-detail {
		border-top: 2px solid #f1f1f1;
		border-bottom: 0px solid #f1f1f1;
		background-color: transparent;
		font-size: 1.5rem;
		@mixin atSmall {
			font-size: 1.2rem;
		}

		.detail-attr {
			padding: 12px 35px 12px 0px;
			margin-right: 20px;

			@mixin atSmall {
				padding: 12px 15px 0px 0px;

				.detail-name {
					width: 50px;
					text-align: left;
				}
			}
			.detail-name,
			.detail-value {
				color: #fff;
			}
		}
	}

	/* 글읽기 본문 */
	.kboard-content .content-view {
		font-size: 1.5rem;
		line-height: 2;
		padding: 30px 0;
		border-bottom: 2px solid #f1f1f1;
		@mixin atSmall {
			font-size: 1.2rem;
		}
	}
	/* 글읽기 본문 첨부파일 */
	.kboard-attach {
		margin: 0px;
		padding: 10px 0 5px 0;
		font-size: 1.2 rem;
		overflow: hidden;
		line-height: 1;
		border-top: 0px dashed #ededed;
	}
	.kboard-button-download {
		color: $slamDark;
	}
	.kboard-button-action {
		border-radius: 0;
	}

	/* 글읽기 본문 하단메뉴 */
	.kboard-document-action,
	.kboard-document-navi {
		display: none;
	}
	.kboard-document-navi a {
		color: $slamMid;

		&:hover {
			color: #fff;
		}
	}
	.kboard-control {
		margin-top: 30px;
	}
}
